.button_style {
    background-color: white;
    color:black;
    font-family: "Noto Sans", sans-serif;
    font-size:20px;
    font-weight:600;
    transition: color 0.3s ease;
    padding-top:10px;
    padding-bottom:10px;
    padding-left:80px;
    padding-right:80px;
    text-align: center;
    border-radius: 20px;
}

.button_style:hover {
    background-color: var(--highlight-green);
}

.button_style:active {
    background-color: var(--select-green);
}