.button_style {
    background-color: white;
    color:black;
    font-family: "Noto Sans", sans-serif;
    font-size:17px;
    font-weight:500;
    transition: color 0.3s ease;
    padding-top:5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    border-radius: 20px;
}

.button_style:hover {
    background-color: var(--highlight-green);
}

.button_style:active {
    background-color: var(--select-green);
}