.taskTable {
    display: flex;
    flex-direction: row;
}

.dashboardFilterSections {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: var(--lighter-gray);
    border-radius: var(--border-radius);
    position: relative;
}

.searchBar {
    width: 85%;
    height: 50%;
    margin-left: 2.2em;
    border-radius: var(--border-radius);
    padding-left: 1.5em;
    background-color: var(--transparent-background);
    border: none;
    color: var(--highlight-green);
}

.searchBar::placeholder{
    color: var(--select-green);
}

.filterWrapper {
    position: relative; 
    display: flex;
    align-items: center;
    height: 100%;
}

.filterDateBtn {
    width: 100px;
    height: 20px;
    margin-left: 1.3em;
    border-radius: var(--border-radius);
    height: 55%;
    background-color: var(--transparent-background);
    border: none;
    color: var(--highlight-green);
    cursor: pointer;
}

.filterDateBtn:hover {
    background-color: var(--select-green);
}

.filterOptions {
    display: flex;
    flex-direction: row;
    justify-content: left;

    position: absolute; 
    top: 55px;         
    right: 0;          
    width: 300px;
    height: 200px;
    background-color: var(--lighter-gray); 
    z-index: 100;      
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0,0,0,0.3);
}

ul {
    list-style: none;
}

/* Elementul <a> din lista de filtre */
.filterBtn {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    color: var(--highlight-green);
    margin-top: 0.5em;
}