.background {
    margin:0;
    padding:0;
    background-image: linear-gradient(rgba(33, 40, 50) 15%, rgba(4, 162, 127) 100%);
    display: flex;
    flex-direction: column;
    height: 100%;
}

.horizontal_container {
    display: flex;
    flex-direction: row;
    gap:20px;
    margin:30px;
}

.horizontal_container > *:nth-child(2) {
    margin-left:auto;
}

.small_gap_vertical_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left_container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.right_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}