.horizontal_container {
    display: flex;
    flex-direction: row;
    gap:20px;
    margin:30px;
}

.horizontal_container > *:nth-child(2) {
    margin-left:auto;
}

.small_gap_vertical_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.left_container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.right_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}