.modal_container {
    position: fixed;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_box {
    background-color: var(--background-gray);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:20px;
    padding-top: 50px;
    box-sizing: border-box;
}

.modal_content {
    display: flex;
    flex-direction: column;
    gap:20px;
}

.horizontal_flex {
    display: flex;
    align-self: flex-end;
    margin-right: 20px;
    margin-bottom: 20px;
    gap: 20px;
}