.horizontal_container {
    display: flex;
    flex-direction: row;
    gap:20px;
    margin:30px;
}

.horizontal_container > *:nth-child(2) {
    margin-left:auto;
}

.vertical_left_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width:30%;
}

.vertical_right_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    width:60%;
}

.button {
    margin-bottom: 20px;
    width:50%;
}