.left_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 25px;
    height: 600px;
    width:35%;
}

.right_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    height:600px;
    width:55%;
}

.horizontal_container {
    display: flex;
    flex-direction: row;
    gap:20px;
    margin:30px;
}

.horizontal_container > *:nth-child(2) {
    margin-left:auto;
}

.inputFields {
    display: flex;
    flex-direction: column;
    gap:25px;
}

.userContainer {
    display: flex;
    flex-direction: column;
    gap:20px;
}

.section_box {
    border: 2px solid var(--highlight-green);
    border-radius: 10px;
    padding: 20px;
    background-color: rgba(33, 40, 50, 0.5);
}