.taskbar {
    display:flex;
    background-color: var(--background-gray);
    align-items: center;
    padding-left: 70px;
    padding-right: 70px;
    gap: 50px;
    margin-top:0px;
    margin-left:0px;
    margin-right:0px;
}

.taskbar > :nth-child(2) {
    margin-left: auto;
}

.taskbar img {
    width: 200px;
}

.link {
    color: var(--highlight-green);
    font-family: "Noto Sans", sans-serif;
    text-decoration: none;
    transition: color 0.3s ease;
}

.link:hover {
    color: var(--select-green);
}

.icon {
    font-size: 30px;
    color: var(--highlight-green);
    transition: color 0.3s ease;
}

.icon:hover {
    color: var(--select-green);
}