.container_style {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.font_style {
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
    text-align: left;
}

.input_style {
    background-color: white;
    width:400px;
    height:180px;
    padding:8px;
    font-size: 18px;
    font-family: "Noto Sans", sans-serif;
    color: black;
    box-sizing: border-box;
    border:transparent;
}

.input_style:focus {
    outline: 2px solid var(--highlight-green);
    outline-offset: 2px;
}