.background {
    margin:0;
    padding:0;
    background-image: linear-gradient(rgba(33, 40, 50) 15%, rgba(4, 162, 127) 100%);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.left_container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.right_container {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.right_container > *:nth-child(3) {
    margin-top: auto;
    align-self: flex-end;
}

.page_container {
    display: flex;
    justify-content: space-between;
    margin:50px;
}

.input_button_container {
    display:flex;
    align-items: flex-end;
    gap:30px;
}

