.entryStyle {
    font-family: "Noto Sans", sans-serif;
    color:white;
    background-color: var(--lighter-gray);
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: space-between;
    gap:20px;
}

.verticalContainer {
    display: flex;
    flex-direction: column;
}

.horizontalContainer  {
    display: flex;
    gap:10px;
}

.buttonContainer {
    display: flex;
    gap: 10px;
}

.taskTitle {
    font-size: 20px;
    font-weight: 700;
}

.taskAsignee {
    font-size: 17px;
}

.statusTitle {
    font-size: 16px;
}

.statusText {
    font-size: 18px;
    font-weight: bold;
}

.pendingStyle {
    color:orange;
}

.openStyle {
    color: red;
}

.completeStyle {
    color: var(--highlight-green);
}